html, body
{
	margin: 0px;
	background: #F5F5F5;
}

header
{
	background-color: #333333;
	margin-top: 20px;
	text-align: center;
}

canvas
{
}

#sharing
{
	padding: 5px;
}

footer
{
	margin-top: 10px;
	position: relative;
	height: 60px;
	clear: both;
	color: #444;
	text-align: center;
}

footer a
{
	color: #0D8AA3;
	text-decoration: none;
}

footer a:hover
{
	text-decoration: underline;
}

